# Ignore instaladores e executáveis 
*.exe
*.msi

# Ignore arquivos grandes de mídia (por padrão)
*.mp4
*.mov
*.avi
*.mkv
*.wav

# ✅ EXCEÇÃO: permitir vídeos do site (somente aqui)
!static/videos/
!static/videos/*.mp4

# Ignore ambiente virtual
venv/

# Ignore arquivos temporários
__pycache__/
*.pyc

# Ignore arquivos de banco para dev local
db_old.sqlite3
db.sqlite3

.env
docker-compose.yml
Dockerfile
Dockerfile.txt
*.log

# Ignore uploads e estáticos gerados
media/
staticfiles/
